h1, h2, h3, .self-serve--content-container label {
  color: #253494;
  font-weight: 900;
}

.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
}

.self-serve---delete-beneficiary-popup-content > label {
  color: #000;
}

.self-serve-table--delete-button {
  background: #72AD4C !important;
}

.self-serve-table--cancel-button {
  background: #ced4db !important;
}

header.self-serve-page-title {
  margin-bottom: 25px;
}

.self-serve---delete-beneficiary-popup, .self-serve---delete-popup {
  background: #fff;
  border: 15px solid #ccc;
  border-radius: 0;
}


.self-serve--tooltip-icon---svg  {
  display: none;
}

.viewChangeModal label {
  color: #000;
  font-weight: 900;
  padding: 0;
}

.self-serve--tooltip-icon[data-open="false"] .self-serve--tooltip-content {
  display: none;
}

.self-serve--tooltip-content {
  position: absolute;
  background-color: #E7F0FE;
  color: #2356AA;
  border: 1px solid #2356AA;
  max-width: 75% !important;
}


.self-serve--tooltip-triangle {
  background-color: #2356AA;
}

.self-serve--section .self-serve--disabled-field, .self-serve--disabled-field {
  margin-bottom: 0;
}


.viewChange, .futureChange, .cancelChange {
  padding: 3px;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.futureChange {
  margin-left: -5px;
  margin-right: 5px;
}

p, label {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.viewChange {
  border: 2px solid #253494;
  border-radius: 50%; 
  margin-right: 5px;
}

.self-serve--content-container {
  color: #253494;
}

i:hover {
  cursor: pointer;
}


.self-serve-page-title {
  color: #253494;
  font-weight: 700;
}


.self-serve--cancel-change-btn, .self-serve--cancel-change-btn:active, .self-serve--cancel-change-btn:focus {
  background-color: #F24726;
  border-radius: 0;
  border: none;
  color: #fff;
  padding: 5px;
}

.self-serve--cancel-change-btn:hover {
  background-color: #999;
  color: #000;
}

.self-serve--account-btn {
  background-color: #00BDF7;
  color: #fff;
}

.yourchanges-container {
  display: flex;
  flex-wrap: wrap;
}


.modal-content {
  border: 15px solid #ccc;
  border-radius: 0;
}

.modal-content > .modal-header, .modal-footer {
  border: 0;
}

@media (max-width: 992px) {
  .self-serve--section {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

@media (max-width: 768px) {

  .self-serve--tooltip-content {
    min-width: 50% !important;
    max-width: 75% !important;
  }

  .self-serve--section .self-serve--disabled-field, .self-serve--disabled-field {
    flex-direction: row;
  }
}

@media (max-width: 576px) {
  label[for=sent-for-approval] {
    display: none;
  }
}


@media (min-width: 576px) and (max-width: 992px) { 
  .sent-for-approval, label[for=sent-for-approval] {
    text-align: right;
  }
}

@media (min-width: 992.01px) { 
  .sent-for-approval, label[for=sent-for-approval] {
    text-align: right;
  }
}
