
    #multipleImagesPanel {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }


    .multi-icon.left {
        left: 0%;
    }

    .multi-icon.right {
        right: 0%;
    }

  
    a[data-zoom-id] img, .mz-thumb img {
        border: 4px solid #f1f1f1;
    }

    .mz-thumb.mz-thumb-selected img {
      border: 5px solid #EBC292;
    }

    main#product_detail .product-images .product-image {
        border: 0;
    }

    .multi-icon {
        cursor: pointer;
        position: absolute;
        display: inline-block;
        color: #2356AA;
        top: 50%;
        transform: translateY(-50%);
        z-index: 5;
    }

    

    .disabled {
        pointer-events: none;
        cursor: default;
        opacity: .2;
    }

    .mz-thumb {
        padding: 5px;
        margin-bottom: 5px;
    }

    .mz-thumb:only-child {
        display: none;
    }

    .mz-thumb:nth-child(n + 6) {
        display: none;
    }


    @media (max-width: 1200px) {
        .mz-thumb img {
            width: 39px;
            max-width: 39px;
        }
        .multi-icon.left {
            left: -5%;
        }
    }

    @media (max-width: 768px) {
     
        a[data-zoom-id]:focus img, .mz-thumb:focus img, .mz-thumb img {
            padding: 5px;
            background: #d9d9d9;
            border-radius: 50%;
            width: 5px;
            height: 5px;           
        }

        .mz-thumb-selected img {
            background: #EBC292;
        }

        main#product_detail .product-images .product-image img {
            height: 0%;
            width: 0%;
        }
    }


