digital-voucher, .digitalVouchers {
  color: #2356AA;

}

.digitalVouchers h2 {
  font-weight: 900;
}

.digitalVouchers {
  display: flex;
  flex-wrap: wrap;
}

.digitalVouchers digital-voucher, .digitalVouchersApplied digital-voucher-applied  {
  border-radius: 10px;
  margin: 20px 0px;
  min-width: 32%;
  max-width: 32%;
  border: transparent;
}

digital-voucher .card, digital-voucher-applied .card {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

digital-voucher .card .expiry {
  color: #000;
}

digital-voucher .card .card-description, digital-voucher-applied  .card .card-description{
  font-weight: bold;
}

digital-voucher .card .card-bottom, digital-voucher-applied .card .card-bottom {
  margin-top: auto;
}

digital-voucher .card .btn {
  float: inline-end;
}

digital-voucher .card .card-title, digital-voucher-applied .card .card-title {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 5px 0;
}

#booker_trolley_first_aside {
  position: sticky;
  top: 0;
}

digital-voucher .card .cutaway, digital-voucher-applied .card .cutaway {
  position: absolute;
  top: 25%;
  transform: translateY(25%);
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 50%;
}

digital-voucher .card .cutaway.left, digital-voucher-applied .card .cutaway.left {
  left: -2%;
  border-right: 1px solid rgba(0,0,0,.125);
}

digital-voucher .card .cutaway.right, digital-voucher-applied .card .cutaway.right {
  right: -2%;
  border-left: 1px solid rgba(0,0,0,.125);
}
  

digital-voucher .card .card-body, digital-voucher-applied .card .card-body {
  padding: 0;
  display: flex;
  flex-direction: column;
}

#booker_trolley_first_aside digital-voucher-applied .card-body {
  padding: 0;
}


digital-voucher .card .card-title p, digital-voucher-applied .card .card-title p {
  font-weight: bold;
}

digital-voucher .card .card-bottom,
digital-voucher .card .card-text,
digital-voucher .card .card-title .promotion, 
digital-voucher-applied .card .card-bottom,
digital-voucher-applied .card .card-text,
digital-voucher-applied .card .card-title .title {
  padding: 0px 20px;
}

digital-voucher .card .card-title .promotion, digital-voucher-applied .card .card-title .title {
  font-weight: bold;
}

digital-voucher .card .dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  background: #0454A1;
  vertical-align: middle;
  margin-right: 5px;
}

digital-voucher .btn.digitalVoucher, .digitalVouchersApplied, digital-voucher {
  border-radius: 10px;
  padding: 1px 3px;
}

@media (max-width: 992px) {

  .digitalVouchers digital-voucher, .digitalVouchersApplied digital-voucher-applied  {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50% !important;
    flex: 0 0 50% !important;
    min-width: 50%;
    max-width: 50%;
     }

  digital-voucher .card .btn {

  }

  digital-voucher .card, digital-voucher-applied .card {
    padding-bottom: 10px;
  }

}

@media (max-width: 576px) {

  .digitalVouchers digital-voucher, .digitalVouchersApplied, digital-voucher {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100% !important;
    flex: 0 0 100% !important;
    max-width: 100%;
  }

  digital-voucher .card .cutaway.left {
    left: -2%;
    border-right: 1px solid rgba(0,0,0,.125);
  }
  
  digital-voucher .card .cutaway.right {
    right: -2%;
    border-left: 1px solid rgba(0,0,0,.125);
  }
}

@media (max-width: 319.9px) {

  .digitalVouchers digital-voucher, .digitalVouchersApplied, digital-voucher, .digitalVouchersApplied, digital-voucher a, .digitalVouchers digital-voucher a {
    font-size: 75%;
  }
}
