digital-voucher, .digitalVouchers {
  color: #2356AA;

}

digital-vouchers-panel h2, digital-vouchers-panel h3,  digital-vouchers-panel h4, .digitalVouchers h2 {
  font-weight: 900;
}

.btn.digitalVoucher {
  font-size: 90%;
}

.digitalVouchers {
  display: flex;
  flex-wrap: wrap;
}

.dotExpiry {
  display: block;
  width: 100%;
}

digital-vouchers-panel {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 400px;
  z-index: 1500;
  background: #ffffff;
  color: #2356AA;
  display: flex;
  flex-direction: column;
  font-size: 80%;
  box-shadow: 10px 10px 10px 10px #d3d3d3;
}


digital-vouchers-panel .top {
  justify-content: space-between;
}

digital-vouchers-panel h3 {
  font-size: 1.5rem;
}

digital-vouchers-panel h4 {
  font-size: 1.25rem;
}

.digitalVouchers digital-voucher, .digitalVouchersApplied digital-vouchers-applied, .digitalVouchersAvailable digital-vouchers-available, .digitalVouchersAppliedAvailable digital-vouchers-applied-available {
  border-radius: 10px;
  min-width: 32%;
  max-width: 32%;
  border: transparent;
  margin: 0px 5px;
}

digital-voucher .card, digital-vouchers-applied .card, digital-vouchers-available .card, digital-vouchers-applied-available .card {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 0px 2px #d3d3d3;
  border: 0;
}


digital-voucher .card .expiry {
  color: #000;
}

digital-voucher .card .card-description, digital-vouchers-applied .card .card-description, digital-vouchers-available .card .card-description, digital-vouchers-applied-available .card .card-description {
  font-weight: bold;
}

digital-voucher .card .card-bottom, digital-vouchers-applied .card .card-bottom, digital-vouchers-available .card .card-bottom, digital-vouchers-applied-available .card .card-bottom {
  margin-top: auto;
}

digital-voucher .card .btn {
  float: inline-end;
}

digital-voucher .card .card-title, digital-vouchers-applied .card .card-title, digital-vouchers-available .card .card-title, digital-vouchers-applied-available .card .card-title {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
  
}

digital-voucher .card .viewDetails {
  margin-right: 20px;
}

digital-voucher .card .viewDetailsLink {
  text-decoration: none;
  color: #ffffff;
}

digital-voucher .card .viewDetailsLink:hover, digital-vouchers-panel .fa-circle-xmark:hover {
  cursor: pointer;
}

.digitalVoucherModal .termsAndConditions {
  color: #000;
}


#booker_trolley_first_aside {
  position: sticky;
  top: 0;
}

digital-voucher .card .cutaway, digital-vouchers-applied .card .cutaway, digital-vouchers-available .card .cutaway, digital-vouchers-applied-available .card .cutaway {
  position: absolute;
  top: 25%;
  transform: translateY(25%);
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 50%;
}

digital-voucher .card .cutaway.left, digital-vouchers-applied .card .cutaway.left, digital-vouchers-available .card .cutaway.left, digital-vouchers-applied-available .card .cutaway.left {
  left: -2%;
  border-right: 3px solid #d3d3d3;
}

digital-voucher .card .cutaway.right, digital-vouchers-applied .card .cutaway.right, digital-vouchers-available .card .cutaway.right, digital-vouchers-applied-available .card .cutaway.right {
  right: -2%;
  border-left: 3px solid #d3d3d3;
}
  

digital-voucher .card .card-body, digital-vouchers-applied .card .card-body, digital-vouchers-available .card .card-body, digital-vouchers-applied-available .card .card-body {
  padding: 0;
  display: flex;
  flex-direction: column;
}

#booker_trolley_first_aside digital-vouchers-applied .card-body, #booker_trolley_first_aside digital-vouchers-available .card-body, #booker_trolley_first_aside digital-vouchers-applied-available .card-body {
  padding: 0;
}


digital-voucher .card .card-title p, digital-vouchers-applied .card .card-title p, digital-vouchers-available .card .card-title p, digital-vouchers-applied-available .card .card-title p {
  font-weight: bold;
}

digital-voucher .card .card-bottom,
digital-voucher .card .card-text,
digital-voucher .card .card-title .promotion, 
digital-vouchers-applied .card .card-bottom,
digital-vouchers-applied .card .card-text,
digital-vouchers-applied .card .card-title .title,
digital-vouchers-available .card .card-bottom,
digital-vouchers-available .card .card-text,
digital-vouchers-available .card .card-title .title,
digital-vouchers-applied-available .card .card-bottom,
digital-vouchers-applied-available .card .card-text,
digital-vouchers-applied-available .card .card-title .title {
  padding: 0px 20px;
}

digital-voucher .card .card-title .promotion, digital-vouchers-applied .card .card-title .title, digital-vouchers-available .card .card-title .title, digital-vouchers-applied-available .card .card-title .title {
  font-weight: bold;
}

digital-voucher .card .dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  background: #0454A1;
  vertical-align: middle;
  margin-right: 5px;
}

digital-voucher .btn.digitalVoucher, digital-voucher {
  border-radius: 10px;
  padding: 1px 3px;
}

.digitalVouchersApplied, .digitalVouchersAvailable, .digitalVouchersAppliedAvailable {
  border-radius: 10px;
  padding: 10px;
}



@media (max-width: 1200px) {

  .digitalVouchers digital-voucher, .digitalVouchersApplied digital-vouchers-applied, .digitalVouchersAvailable digital-vouchers-available, .digitalVouchersAppliedAvailable digital-vouchers-applied-available  {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 48% !important;
    flex: 0 0 48% !important;
    min-width: 48%;
    max-width: 48%;
     }
     
  digital-voucher .card, digital-vouchers-applied .card, digital-vouchers-available .card, digital-vouchers-applied-available .card {
    padding-bottom: 10px;
  }

}

@media (max-width: 768px) {

  digital-vouchers-panel {
    font-size: 100%;
    width: 100%;
    max-width: 100vw;
    min-height: 100vh !important;
  }

  .digitalVouchers digital-voucher, .digitalVouchersApplied, digital-voucher {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100% !important;
    flex: 0 0 100% !important;
    max-width: 100%;
  }

  digital-voucher .card .cutaway.left {
    left: -2%;
  }
  
  digital-voucher .card .cutaway.right {
    right: -2%;
  }

}

@media (max-width: 319.9px) {

  .digitalVouchers digital-voucher, .digitalVouchersApplied, digital-voucher, .digitalVouchersApplied, digital-voucher a, .digitalVouchers digital-voucher a {
    font-size: 75%;
  }
}
