.stockLevel {
    font-size: 0.625rem;
    font-weight: 700;  
  }

  .list-img, .note-img {
    display: none;
  }

  .SubCategoriesRow .rowMode .product-list .product .shopping .add-note {
    padding-right: 0!important;
  }

  .rtsIcons > div {
    justify-content: center;
    margin-bottom: .5rem;
  }

.add-note {
    margin-left: .5rem;
  }

  .SubCategoriesRow .rowMode .product-list .product .shopping {
    font-size: inherit;
  }

  @media (max-width: 767px) {
    .stockLevelDiv {
      max-width: 50%;
      float: right;
    }

    .stockLevel {
      margin-left: 0.5rem;
    }

    .SubCategoriesRow .rowMode .product-list .product .shopping .add-note {
      align-items: center !important;
      padding-right: 0;
    }
  }

  @media (max-width: 767.98px) {
    .stockLevelDiv {
      max-width: 50%;
      margin-left: 20px;
    }

    .stockLevel {
      margin-left: 0.5rem;
    }

    .SubCategoriesRow .rowMode .product-list .product .shopping .add-note {
      align-items: center !important;
      padding-right: 0;
    }
  }

    @media (max-width: 576px) {
    .stockLevelDiv {
      max-width: 100%;
      margin-left: 25px;
    }
  }
