.document-list .documentList .icon {
  display: flex;
  justify-content: center;
  font-size: 2em;
}

.document-list .documentList {
  display: flex;
  justify-content: center;
}

.document-list .rowMode .documentList {
  align-items: center;
}

.document-list .documentList .fa-2xl {
  line-height: 1.5em;
}

.document-list .gridMode .content {
  display: flex;
  flex-direction: column;
}

.document-list .gridMode {
  display: flex;
  flex-wrap: wrap;
}

.document-list .categoryPublished {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

.document-list .gridMode .documentList .category, .document-list .rowMode .documentList .category {
  margin-top: auto;
  font-weight: bold;
}


.documentList.row {
  border: 1px solid #ccc;
  padding: 0;
  margin: 0;
}

.document-list .gridMode .content .description {
  display: flex;
  flex-grow: 1;
}

.documentList {
  border: 1px solid #ccc;
}

.documentList .description a {
	color: #000000;
  font-weight: bold;
  text-decoration: none;
}

.documentList .description a:hover {
	color: #2356AA;
}

.documentList p {
	margin-bottom: 0;
}

.document-list .documentList .category {
  background: #2356AA;
  display: inline-block;
  border-radius: 5px;
  padding: 0px 10px;
  color: #ffffff;
}

.document-list .documentList .category {
  width: 100%;
}



.documentList .published {
  color: #2356AA;
}

.documentList .fa-solid.fa-chevron-right {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 576px) {
  .document-list .documentList {
    text-align: center;
  }

  .document-list .rowMode .documentList .category {
    width: 75%;
  }

  .documentList .fa-solid.fa-chevron-right {
    display: none;
  }
}

@media (max-width: 576px) {
  .document-list .documentList {
    text-align: center;
  }

  .documentList .fa-solid.fa-chevron-right {
    display: none;
  }
}


@media (min-width: 1440px) {

  .document-list .col-xl-3 {
    flex: 0 0 16.666666%;
    max-width: 16.666666%;
  }
}

@media (min-width: 2560px) {
  .document-list .rowMode .documentList .category {
    width: 100%;
  }

  .document-list .col-xl-3 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
}
