.document-list .documentList .icon {
  display: flex;
  justify-content: center;
  font-size: 2em;
}

.document-list a, .document-list a:hover {
 color: #000000;
 text-decoration: none;
}

.document-list .rowMode .documentList {
  align-items: center;
}

.document-list .documentList .fa-2xl {
  line-height: 1.5em;
}

.document-list .gridMode {
  display: flex;
  flex-wrap: wrap;
}

.document-list .rowMode .categoryPublished {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  font-size: 12px;
}

.document-list .gridMode .documentList .category, .document-list .rowMode .documentList .category {
  margin-top: auto;
  font-weight: bold;
}

.document-list .gridMode .categoryPublished {
  margin-top: auto;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}


.documentList.row {
  border: 1px solid #ccc;
  padding: 0;
  margin: 0;
}

.document-list .gridMode .content .description {
  display: flex;
  flex-grow: 1;
}

.document-list .content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.document-list .gridMode .documentList .category {
  width: max-content;
}

.documentList {
  border: 1px solid #ccc;
}

.documentList .description {
  font-weight: bold;
}

.documentList p {
	margin-bottom: 0;
}

.document-list .documentList .category {
  background: #2356AA;
  display: inline-block;
  border-radius: 5px;
  padding: 0px 7px;
  color: #ffffff;
  margin-right: 10px;
}

.document-list .documentList .details {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}


.documentList .published {
  color: #2356AA;
}

.documentList .fa-solid.fa-chevron-right {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 576px) {
  .document-list .documentList {
    justify-content: center;
  }

  .document-list .gridMode .content {
    justify-content: center;
  }

  .documentList .fa-solid.fa-chevron-right {
    display: none;
  }

  .document-list .documentList .category {
    margin-right: 0;
    display: block;
    width: max-content;
    margin: 0 auto;
    margin-bottom: 5px;
  }

  .document-list .description, .document-list .gridMode .content .description {
    display: block;
    text-align: center;
  }

  .document-list .categoryPublished {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 11px;
    text-align: center;
  }
}
