
.keywordsuggestion {
	width: 100%;
	position: relative;
	padding: 20px;
}

.documentSearchBtn,
.documentSearchPrepend,
.documentSearchPrepend .dropdown-menu {
	width: 140px;
}

.btn.documentSearch {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.keywordsuggestion::after {
	content: '';
	position: absolute;
	height: 2px;
	background: #ccc;
	top: 100%;
	width: 95%;
}

header .suggestions-result div a {
  border-bottom: 0;
  font-weight: 900;
  padding-left: 0;
  text-align: left;
}

header .suggestions-result div a:hover {
	background: transparent;
	color: #2356AA;
}

.keywordsuggestion .price, .keywordsuggestion .rrp {
  margin: 0;
  font-weight: 900;
  display: block;
	text-align: right;
}

.keywordsuggestion .rrp, .keywordsuggestion .volume, .keywordsuggestion .category {
  color: #909090;
  margin: 0;
}

header .suggestions-result {
  left: 140px;
  width: calc(100% - 11.5em);
	max-height: 500px;
	overflow: auto;
	box-shadow: none;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	padding-bottom: 10px;
}

.documentSearchBtn[aria-expanded="true"]{
  background-color: #ffffff !important;
	color: #2356AA !important;
	border-bottom: none;
}

.keywordsuggestion .productImage img {
	max-width: 50px;
}

.documentSearchPrepend li {
	color: #2356AA;
}

/*.documentSearchPrepend .dropdown-item.active, .documentSearchPrepend .dropdown-item:active, .documentSearchPrepend .dropdown-item:hover {
	background-color: #43AC32 !important;
}*/

.documentSearchPrepend .dropdown-menu {
	color: #2356AA ;
}

.documentSearchPrepend .dropdown-menu {
	min-width: 100px;
}

.documentSearchPrepend .dropdown-item {
	padding: 0.5rem;
}

.keywordsuggestion .productImage img {
	max-width: 50px;
}

.keywordsuggestion .productImage {
	display: flex;
	justify-content: center;
}


	@media (min-width: 2550px) {
		

		header .suggestions-result .col-xl-2 {
			flex: 0 0 8.333333%;
			max-width: 8.333333%;
			display: flex;
			justify-content: flex-start;
		} 
	}


  @media (max-width: 1200px) {
    .keywordsuggestion .price, .keywordsuggestion .rrp {
      text-align: left;
    }

		.keywordsuggestion .productImage{
			display: flex;
			justify-content: start;
		}
  }

	@media (min-width: 900px) {
		.scanner-picker {
			display: none;
		}
	}

	@media (max-width: 900px) {
		header .suggestions-result {
			left: 140px;
			width: calc(100% - 15.5em);
			box-shadow: none;
		}

		
	}

	@media (max-width: 576px) {

		header .suggestions-result {
			left: 0;
			width: 100%;
		}

		.documentSearchBtn, .documentSearchPrepend {
			width: max-content;
		}

		.keywordsuggestion i, .keywordsuggestion a {
			margin-top: 10px;
		}

		.documentSearchBtn {
			font-size: 0px !important;
		}

		.documentSearchBtn::after {
			display: flex;
			align-items: center;
			font-size: 16px;
		}

  }
